[
    {
        "name": "any2markdown",
        "description": "File conversion tools",
        "command": "/opt/.venv/bin/python",
        "args": ["deeppresenter/deeppresenter/tools/any2markdown.py", "$WORKSPACE"],
        "env": {
            "FASTMCP_LOG_LEVEL": "INFO",
            "MINERU_API_URL": "your_deployed_mineru_url_for_offline_mode",
            "MINERU_API_KEY": "YOUR_MINERU_API_KEY_HERE"
        }
    },
    {
        "name": "task",
        "description": "Task management tools",
        "command": "/opt/.venv/bin/python",
        "args": ["deeppresenter/deeppresenter/tools/task.py", "$WORKSPACE"],
        "env": {
            "FASTMCP_LOG_LEVEL": "INFO",
            "CONFIG_FILE": "$CONFIG_FILE"
        }
    },
    {
        "name": "tool_agents",
        "description": "LLM-powered tool agents",
        "command": "/opt/.venv/bin/python",
        "args": ["deeppresenter/deeppresenter/tools/tool_agents.py", "$WORKSPACE"],
        "env": {
            "FASTMCP_LOG_LEVEL": "INFO",
            "CONFIG_FILE": "$CONFIG_FILE"
        }
    },
    {
        "name": "research",
        "description": "Academic paper search tools",
        "command": "/opt/.venv/bin/python",
        "args": ["deeppresenter/deeppresenter/tools/research.py", "$WORKSPACE"],
        "env": {
            "FASTMCP_LOG_LEVEL": "INFO"
        }
    },
    {
        "name": "search",
        "description": "Web search tools",
        "command": "/opt/.venv/bin/python",
        "args": ["deeppresenter/deeppresenter/tools/search.py", "$WORKSPACE"],
        "env": {
            "FASTMCP_LOG_LEVEL": "INFO",
            "TAVILY_API_KEY": "YOUR_TAVILY_API_KEY_HERE"
        }
    },
    {
        "name": "pptagent",
        "description": "https://github.com/icip-cas/PPTAgent",
        "command": "/opt/.venv/bin/python",
        "args": ["-m", "pptagent.mcp_server"],
        "env": {
            "PPTAGENT_MODEL": "gemini-2.5-flash-lite",
            "PPTAGENT_API_KEY": "YOUR_GOOGLE_API_KEY_HERE",
            "PPTAGENT_API_BASE": "https://generativelanguage.googleapis.com/v1beta/openai/"
        }
    },
    {
        "name": "sandbox",
        "description": "https://github.com/wonderwhy-er/DesktopCommanderMCP",
        "command": "docker",
        "args": [
            "run",
            "--security-opt",
            "seccomp=unconfined",
            "--init",
            "--name",
            "$WORKSPACE_ID",
            "-i",
            "--rm",
            "-v",
            "$HOST_WORKSPACE:$WORKSPACE",
            "-w",
            "$WORKSPACE",
            "deeppresenter-sandbox:0.1.0"
        ]
    }
]
